{% extends 'extent.html' %}
{% block css %}
<link rel="stylesheet" href="../public/css/dashang.css">
{% endblock %}
{% block content-left %}
<div id="contents">
    <h3 class="text-center">打赏博主</h3>
    <p class="int">我们一起来让这个世界有趣一点，听说打赏我的人最后都找到了真爱。听说打赏我的人，都进了福布斯排行榜，打赏的都是天使，打赏的人都会变美~</p>
    <h4><b></b> <span>for循环中let和var的区别</span></h4>
    <div class="dashang">
        <h3>方式一</h3>
        <img src="../../public/images/money.jpg" alt="">
        <p class="text-center">通过支付宝手机客户端扫描上面的二维码进行赞助</p>
    </div>
    <div class="dashang">
        <h3>方式二</h3>
        <img src="../../public/images/money.jpg" alt="">
        <p class="text-center">通过支付宝手机客户端扫描上面的二维码进行赞助</p>
    </div>
    <div class="share text-center">
        <button type="button" class="btn btn-default dashang-but"><b class="dashang-b1"></b><span>打赏</span></button>
        <button type="button" class="btn btn-default share-but"><b class="dashang-b2"></b><span>分享</span></button>
    </div>
</div>
<script>
    var url = window.location.href;
    var aa = url.indexOf('=');
    var id = url.substring(aa + 1);
    $('.dianzan').on('click', function () {
        var url = window.location.href;
        var aa = url.indexOf('=');
        var id = url.substring(aa + 1);
        $.ajax({
            url: '/index/neiye/wonder',
            type: 'get',
            data: {
                id: id
            },
            success: function (res) {
                $('.dianzan span').html('点赞(' + res.wonder + ')')
            }
        })
    });
    //评论
    $('.review #myButton').on('click', function () {
        if ($('.review textarea').val() === '') {
            $('.review p').html('评论内容不能为空').css({background: '#eee'})
        } else {
            $.ajax({
                url: '/index/neiye/conments',
                type: 'get',
                data: {
                    id: id,
                    value: $('.review textarea').val()
                },
                success: function (res) {
                    if (res.code === 1) {
                        window.location.reload()
                    }
                }

            })
        }
    })
</script>
{% endblock %}