<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <script src="public/js/jquery.1.10.2.min.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <link rel="stylesheet" href="public/css/public.css">
    <script src="public/js/index.js"></script>
    <link rel="stylesheet" href="public/css/public-head.css">
</head>
<body>
<div>
    <div class="nav-top hidden-xs hidden-xm">
        <div class="nav-top ">
            <div class="container nav-header ">
                <img src="../../public/images/logo.png" alt="Logo" class="logo">
                <ul class="nav navbar-nav nav-left">
                    <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown nav-script">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">前端<span class="caret"></span></a>
                        <ul class="dropdown-menu web">
                            <li></li>
                            <li><a href="#">javascript</a></li>
                            <li><a href="#">webpack</a></li>
                            <li><a href="#">vue</a></li>
                            <li><a href="#">正则</a></li>
                            <li><a href="#">异步</a></li>
                        </ul>
                    </li>
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">文章<span class="caret"></span></a>
                        <ul class="dropdown-menu article">
                            <li></li>
                            <li><a href="#">感悟</a></li>
                            <li><a href="#">随笔</a></li>
                            <li><a href="#">悬疑</a></li>
                        </ul>
                    </li>
                    <li><a href="#">打赏</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="/api/user/log">登录</a></li>
                    <li><a href="/api/user/reg">注册</a></li>
                    <li><a href="#">找回密码</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
        <div class="blog-user">
            <h1>陌上寒</h1>
            <p>陌上寒个人微博</p>
        </div>
    </div>
</div><!--头部导航-->
<div class="container content-left">
    <div class="fl col-lg-7 ">
        {% block content-left %}
        {% endblock %}
    </div><!--左边内容-->
    <div class="fl col-lg-1   hidden-md hidden-xs hidden-xm hidden-sm"></div>
    <div class="fl col-lg-3  hidden-md hidden-xs hidden-xm hidden-sm">
        {% if name.username %}
        <div class="text-center right-content  admin-page" id="log-success">
            {% if name.isAdmin %}
            <p>您好admin ：您是管理员 <a href="/admin/userslist">点击这里进入管理页面</a></p>
            {% else %}
            <p>欢迎回来 </p>
            {% endif %}
            <span id="logout">退出</span>
        </div>
        {% else %}
        <div class="text-center right-content " id="denglu">
            <h4 class="text-center">用户您好！请先登录！</h4>
            <div class="admin">
                <a href="/api/user/log" class="btn btn-primary btn-lg text-center" id="log">登录</a>
                <a href="/api/user/reg" class="btn btn-primary btn-lg text-center" id="zhuce">注册</a>
            </div>
        </div>
        {% endif %}
        <div class="music">
            <h4><b>站内搜索</b></h4>
            <div class="music-content">
                <input type="text" placeholder="Search">
            </div>
        </div>
        <div class="music">
            <h4><b>微信公众号</b></h4>
            <div class="music-content">
                <img src="../../public/images/public.png" alt="">
            </div>
        </div>
        <div class="music">
            <h4><b>标签聚合</b></h4>
            <div class="music-content">
                <a href="javascript:;" class="btn btn-default">规范</a>
                <a href="javascript:;" class="btn btn-default">工具</a>
                <a href="javascript:;" class="btn btn-default">异步</a>
                <a href="javascript:;" class="btn btn-default">ES6</a>
                <a href="javascript:;" class="btn btn-default">构造函数</a>
                <a href="javascript:;" class="btn btn-default">原型</a>
                <a href="javascript:;" class="btn btn-default">排序</a>
                <a href="javascript:;" class="btn btn-default">对象</a>
                <a href="javascript:;" class="btn btn-default">阅读感悟</a>
                <a href="javascript:;" class="btn btn-default">随笔</a>
                <a href="javascript:;" class="btn btn-default">THIS</a>
                <a href="javascript:;" class="btn btn-default">悬疑推理</a>
                <a href="javascript:;" class="btn btn-default">JAVASCRIPT</a>
                <a href="javascript:;" class="btn btn-default">前端</a>
                <a href="javascript:;" class="btn btn-default">WEBPACK</a>
                <a href="javascript:;" class="btn btn-default">VUE</a>
                <a href="javascript:;" class="btn btn-default">熊猫笔记</a>
                <a href="javascript:;" class="btn btn-default">作用域</a>
                <a href="javascript:;" class="btn btn-default">面试</a>
                <a href="javascript:;" class="btn btn-default">正则</a>
            </div>
        </div>
        <div class="music">
            <h4><b>标签聚合</b></h4>
            <div class="music-content">
                <p>通知：本站将在2019年3月1日取消所有友链，请知晓</p>
                <ul class="fl">
                    <li><a href="javascript:;">搬瓦工</a></li>
                    <li><a href="javascript:;">何海宝的博客</a></li>
                    <li><a href="javascript:;">何海宝的博客</a></li>
                    <li><a href="javascript:;">何海宝的博客</a></li>
                    <li><a href="javascript:;">何海宝的博客</a></li>
                </ul>
                <ul class="fl">
                    <li><a href="javascript:;">建网站9元全包</a></li>
                    <li><a href="javascript:;">建网站9元全包</a></li>
                    <li><a href="javascript:;">建网站9元全包</a></li>
                    <li><a href="javascript:;">建网站9元全包</a></li>
                    <li><a href="javascript:;">建网站9元全包</a></li>
                </ul>
            </div>
        </div>
    </div><!--右边内容-->
    <div class="fl col-lg-1  hidden-md hidden-xs hidden-xm hidden-sm"></div>
</div><!--内容部分-->
<ul class="nav-side">
    <li><a class="actic" href="javascript:;">首页</a></li>
    <li><a href="javascript:;">前端</a></li>
    <li class="con-nav"><a href="javascript:;">javascript</a></li>
    <li class="con-nav"><a href="javascript:;">webpack</a></li>
    <li class="con-nav"><a href="javascript:;">vue</a></li>
    <li class="con-nav"><a href="javascript:;">正则</a></li>
    <li class="con-nav"><a href="javascript:;">异步</a></li>
    <li><a href="javascript:;">文章</a></li>
    <li class="con-nav"><a href="javascript:;">感悟</a></li>
    <li class="con-nav"><a href="javascript:;">随笔</a></li>
    <li class="con-nav"><a href="javascript:;">悬疑</a></li>
    <li><a href="javascript:;">打赏</a></li>
    <li><a href="javascript:;">留言</a></li>
    <li><a href="/api/user/reg">注册</a></li>
    <li><a href="/api/user/log">登录</a></li>
    <li><a href="javascript:;">找回密码</a></li>
</ul><!-- 小屏幕侧边导航-->
<div class="icn">
    <div class="int hidden-xs hidden-xm"><img src="../../public/images/int.png" alt="int"></div>
    <div class="wechat hidden-xs hidden-xm">
        <img src="../../public/images/wechat.png" alt="wechat">
        <img class="card" src="../../public/images/public.png" alt="">
    </div>
    <div class="top"><img src="../../public/images/top.png" alt="top"></div>
</div>
<div id="nav" class="hidden-md hidden-lg hidden-xm hidden-sm"></div>

<div class="footer container-fluid">
    <div class="footer-top"><p><span></span><span></span></p></div>
    <p class="text-center">COPYRIGHT 2019 陌上寒 .ALLRIGHTS RESERVEND</p>
    <p class="text-center">京ICP备16036924号</p>
</div>
</body>
</html>