{% extends 'extent.html' %}
{% block css %}
<link rel="stylesheet" href="../public/css/neiye.css">
<link rel="stylesheet" href="../public/css/Confirm.css">
<script src="../../public/js/Confirm.js"></script>
{% endblock %}
{% block content-left %}
<div id="contents">
    <div>
        {{ content.content }}
        <button class="dianzan" user="{{name.username}}"><b></b><span>点赞({{ content.wonder }})</span></button>
        {% if name.username %}
        <div class="review" last="{{content._id.toString()}}">
            <h4>发表评论</h4>
            <textarea name="content" id="conments" cols="30" rows="10"></textarea>
            <p></p>
            <button type="button" id="myButton" class="btn btn-primary">
                发表评论
            </button>
        </div>
        {% else %}
        <p class="text-center noplace">您还没有登录不能发表评论！ 请登录</p>
        {% endif %}
        {% for num in content.comments %}
        <div class="message">
            <div class="tu-top">
                <img src="../../public/images/tuxiang.jpg" alt="">
                <div class="fl">
                    <h4>{{ num.username }}</h4>
                    <span>{{ num.time.toLocaleString() }}</span>
                </div>
            </div>
            <p cont="{{num.date}}">{{num.comment}}</p>
            <div>
                <button type="button" class="btn btn-warning">删除</button>
            </div>
            <input type="text">
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var url = window.location.href;
    var aa = url.indexOf('=');
    var id = url.substring(aa + 1);
    $('.dianzan').on('click', function () {
        var url = window.location.href;
        var aa = url.indexOf('=');
        var id = url.substring(aa + 1);
        $.ajax({
            url: '/index/neiye/wonder',
            type: 'get',
            data: {
                id: id
            },
            success: function (res) {
                $('.dianzan span').html('点赞(' + res.wonder + ')')
            }
        })
    });
    //评论
    $('.review #myButton').on('click', function () {
        var date = new Date().getTime();
        var did = parseInt(date)
        if ($('.review textarea').val() === '') {
            $('.review p').html('评论内容不能为空').css({background: '#eee'})
        } else {
            $.ajax({
                url: '/index/neiye/conments',
                type: 'get',
                data: {
                    id: id,
                    value: $('.review textarea').val(),
                    date: did
                },
                success: function (res) {
                    if (res.code === 1) {
                        window.location.reload()
                    }
                }

            })
        }
    });
    //评论删除
    $('.message').find('button:nth-child(1)').on('click', function () {
        var date = $(this).parents('.message').find('p').attr('cont');
        var id = $('.review').attr('last');
        console.log($('.dianzan').attr('user'), $(this).parents('.message').find('h4').html())
        if ($('.dianzan').attr('user') === $(this).parents('.message').find('h4').html()) {
            var txt = '您确定要删除吗？';
            var ok = window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.confirm, {
                onOk: function () {
                    $.ajax({
                        url: '/index/commentsdel',
                        type: 'get',
                        data: {
                            date: date,
                            id: id
                        },
                        success: function (res) {
                            if (res.ok === 1) {
                                window.location.reload();
                            }
                        }
                    })
                }
            });
        } else {
            var txt = "您不能删除此条评论";
            window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
        }
    });
</script>
{% endblock %}