img.ba {
    position: fixed;
    z-index: -1;
    border: none;
    width: 100%;
    height: 100%;
}
.main {
    opacity: .5;
    float: none;
}
.active {
    background: #ed219bb3;
}
.fade.in {
    display: none;
}

.navbar-default {
    background: none;
    border: none;
}

navbar-nav li a {
    text-align: center;
}

#placehoder {
    text-align: center;
    font-size: 25px;
    color: #d60ea3;
    height: 30px;
}
.form-group {
    overflow: hidden;
}

.modal-content {
    padding: 20px;
}

.first {
    margin-top: 40px;
}

#content-1 table td {
    height: 50px;
    width: 16%;
    overflow: hidden;
    display: block;
    float: left;
}