img.ba {
    position: fixed;
    z-index: -1;
    border: none;
    width: 100%;
    height: 100%;
}
.main {
    opacity: .5;
    float: none;
}
.active {
    background: #ed219bb3;
}
.fade.in {
    display: none;
}

.navbar-default {
    background: none;
    border: none;
}

navbar-nav li a {
    text-align: center;
}

.form-group {
    overflow: hidden;
}