.content-cen p.int {
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    padding-left: 20px;
}

.content-cen {
    padding-left: 0px;
    border-left: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
}

.content-cen h3 {
    padding-bottom: 20px;
}

.content-cen h4 {
    position: relative;
    padding: 10px 0;
    background: rgba(30, 67, 11, 0.48);
    height: 40px;
    margin-top: 20px;
}

.content-cen h4 b {
    display: block;
    position: absolute;
    width: 10px;
    height: 40px;
    background: steelblue;
    left: 0;
    top: 0;
}

.content-cen h4 span {
    display: inline-block;
    margin-left: 20px;
}

.dashang {
    margin-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column
}

.dashang img {
    margin: 0 auto;
    width: 300px;
    height: 450px;
    align-self: center;
}

.dashang p {
    margin: 20px 0;
    font-size: 16px;
}

.share {
    margin-left: 20px;
    padding: 20px 30px 30px 0;
    border-top: 1px solid #ccc;
}

.share button {
    padding: 6px 20px;
    margin-right: 20px;
}

.share button b {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 10px;
}

.share button b.dashang-b1 {
    background: url("../images/dashang.png");
}

.share button b.dashang-b2 {
    background: url("../images/share.png");
}

.share button span {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
}

.share button:first-child span {
    color: #009ee7;
}

.share button:last-child span {
    color: #21aa37;
}

.share button:first-child {
    border: 1px solid #009ee7;
}

.share button:last-child {
    border: 1px solid #21aa37;
}

.share button:last-child :hover {
    background: #21aa37;
}

.share button.dashang-but:hover {
    background: #009ee7;
    color: #fff;
}

.share button.share-but:hover {
    background: #21aa37;
}

.share button.share-but:hover span,
.share button.dashang-but:hover span {
    color: #fff;
}