.logo {
    padding: 30px 0;
}

body {
    background: url("../images/bg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.logoin {
    width: 400px;
    background: #fff;
    align-self: center;
    padding: 30px 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.logoin div {
    margin-top: 20px;
}

.logoin div span {
    display: block;
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.logoin div input {
    border: 1px solid #999;
    width: 100%;
    height: 30px;
    padding: 5px 10px;
}

.logoin button {
    margin-top: 20px;
    display: block;
    width: 100%;
    line-height: 20px;
    background: #78bfff;
    color: #fff;
}

.breadcrumb {
    background: transparent;
    margin-top: 20px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #fff;
    content: "|";
}

.breadcrumb li a {
    color: #fff;
    font-size: 16px;
}

.breadcrumb li:last-child a {
    margin-left: 5px;
}

.breadcrumb li:hover a {
    color: #78bfff;
    text-decoration: none;
}