.content-cen {
    padding-left: 40px;
}

.content-cen h5 {
    overflow: hidden;
    text-align: center;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
    color: #ccc;
}

.content-cen h5 b {
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.content-left {
    padding-top: 50px;
}

.content-left h3 {
    padding-bottom: 20px;
    height: 40px;
    overflow: hidden;
}

.rili {
    background: url("../images/calendar.png");
}

.view {
    background: url("../images/review.png");
}

.read {
    background: url("../images/read.png");
}

.zan {
    background: url("../images/parise.png");
}

.content-cen h5 span {
    display: block;
    float: left;
    margin-right: 10px;
}

.content-cen p {
    float: left;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 20px 0;
}

.content-cen h4 {
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    height: 20px;
}

.content-cen h4 b {
    display: block;
    height: 20px;
    width: 10px;
    background: royalblue;
    position: absolute;
    top: 0;
    left: -20px;

}