{% extends 'category.html' %}
{% block shuju %}
<div id="content-1">
    <form>
        <div class="form-group">
            <label for="txt">Email address</label>
            <input type="text" class="form-control" id="txt" placeholder="类别">
        </div>
        <p class="text-center   btn-default" style="display: none" id="bg-su">agresrheht</p>
        <p class="text-center  btn-warning" style="display: none" id="bg-d">eryhgrehreh</p>
        <b class="btn btn-default" id="btn-sub">Submit</b>
    </form>
</div>
{% endblock %}